<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chi</key>
		<string>[干巴爹]</string>
		<key>des</key>
		<string>干巴爹</string>
		<key>png</key>
		<string>ganbadie1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狐大笑]</string>
		<key>des</key>
		<string>大笑</string>
		<key>png</key>
		<string>daxiao1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[内牛满面]</string>
		<key>des</key>
		<string>内牛满面</string>
		<key>png</key>
		<string>neiliumanmian1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[暴怒]</string>
		<key>des</key>
		<string>暴怒</string>
		<key>png</key>
		<string>baonu1.png</string>
	</dict>
<dict>
		<key>chi</key>
		<string>[狐微笑]</string>
		<key>des</key>
		<string>微笑</string>
		<key>png</key>
		<string>weixiao1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[小样儿]</string>
		<key>des</key>
		<string>小样儿</string>
		<key>png</key>
		<string>xiaoyang1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[馋嘴]</string>
		<key>des</key>
		<string>馋嘴</string>
		<key>png</key>
		<string>chanzui1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[星星的你]</string>
		<key>des</key>
		<string>星星的你</string>
		<key>png</key>
		<string>xingxingdeni1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[大足球]</string>
		<key>des</key>
		<string>足球</string>
		<key>png</key>
		<string>zuqiu1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[大奖杯]</string>
		<key>des</key>
		<string>奖杯</string>
		<key>png</key>
		<string>jiangbei1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[大拉花]</string>
		<key>des</key>
		<string>拉花</string>
		<key>png</key>
		<string>lihua1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[大啤酒]</string>
		<key>des</key>
		<string>啤酒</string>
		<key>png</key>
		<string>pijiu1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狐闭嘴]</string>
		<key>des</key>
		<string>闭嘴</string>
		<key>png</key>
		<string>bizui1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[别理我]</string>
		<key>des</key>
		<string>表理我</string>
		<key>png</key>
		<string>biaoliwo1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[发呆]</string>
		<key>des</key>
		<string>发呆</string>
		<key>png</key>
		<string>fadai1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[不爽]</string>
		<key>des</key>
		<string>不爽</string>
		<key>png</key>
		<string>bushuang1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[好赞]</string>
		<key>des</key>
		<string>好赞</string>
		<key>png</key>
		<string>haozan1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[偷着乐]</string>
		<key>des</key>
		<string>偷着乐</string>
		<key>png</key>
		<string>touzhele1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[抠鼻]</string>
		<key>des</key>
		<string>抠鼻</string>
		<key>png</key>
		<string>koubi1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[贱笑]</string>
		<key>des</key>
		<string>贱笑</string>
		<key>png</key>
		<string>jianxiao1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[么么哒]</string>
		<key>des</key>
		<string>么么哒</string>
		<key>png</key>
		<string>momoda1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[脸红]</string>
		<key>des</key>
		<string>脸红</string>
		<key>png</key>
		<string>lianhong1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[倍儿爽]</string>
		<key>des</key>
		<string>倍儿爽</string>
		<key>png</key>
		<string>beishuang1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[好强]</string>
		<key>des</key>
		<string>好强</string>
		<key>png</key>
		<string>haoqiang1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狐流汗]</string>
		<key>des</key>
		<string>流汗</string>
		<key>png</key>
		<string>liuhan1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[内伤]</string>
		<key>des</key>
		<string>内伤</string>
		<key>png</key>
		<string>neishang1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[尴尬]</string>
		<key>des</key>
		<string>尴尬</string>
		<key>png</key>
		<string>ganga1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[惊吓]</string>
		<key>des</key>
		<string>惊吓</string>
		<key>png</key>
		<string>jingxia1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[怒颜]</string>
		<key>des</key>
		<string>怒颜</string>
		<key>png</key>
		<string>nuyan1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狂吐]</string>
		<key>des</key>
		<string>狂吐</string>
		<key>png</key>
		<string>kuangtu1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[疑惑]</string>
		<key>des</key>
		<string>疑惑</string>
		<key>png</key>
		<string>yihuo1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[阴险]</string>
		<key>des</key>
		<string>阴险</string>
		<key>png</key>
		<string>yinxian1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[崇拜]</string>
		<key>des</key>
		<string>崇拜</string>
		<key>png</key>
		<string>chongbai1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[耍酷]</string>
		<key>des</key>
		<string>耍酷</string>
		<key>png</key>
		<string>shuaku1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[熊猫眼]</string>
		<key>des</key>
		<string>熊猫眼</string>
		<key>png</key>
		<string>xiongmaoyan1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狐睡觉]</string>
		<key>des</key>
		<string>睡觉</string>
		<key>png</key>
		<string>shuijiao1.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[狐委屈]</string>
		<key>des</key>
		<string>委屈</string>
		<key>png</key>
		<string>weiqu1.png</string>
	</dict>
</array>
</plist>
