<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chi</key>
		<string>[微笑]</string>
		<key>eng</key>
		<string>[weixiao]</string>
		<key>png</key>
		<string>weixiao.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[大笑]</string>
		<key>eng</key>
		<string>[daxiao]</string>
		<key>png</key>
		<string>daxiao.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[委屈]</string>
		<key>eng</key>
		<string>[weiqu]</string>
		<key>png</key>
		<string>weiqu.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[哭]</string>
		<key>eng</key>
		<string>[ku]</string>
		<key>png</key>
		<string>ku.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[生气]</string>
		<key>eng</key>
		<string>[shengqi]</string>
		<key>png</key>
		<string>shengqi.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[吃惊]</string>
		<key>eng</key>
		<string>chijing</string>
		<key>png</key>
		<string>chijing.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[爱你]</string>
		<key>eng</key>
		<string>aini</string>
		<key>png</key>
		<string>aini.png</string>
	</dict>
 	<dict>
		<key>chi</key>
		<string>[汗]</string>
		<key>eng</key>
		<string>[han]</string>
		<key>png</key>
		<string>han.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[闭嘴]</string>
		<key>eng</key>
		<string>[bizui]</string>
		<key>png</key>
		<string>bizui.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[睡觉]</string>
		<key>eng</key>
		<string>[shuijiao]</string>
		<key>png</key>
		<string>shuijiao.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[加油]</string>
		<key>eng</key>
		<string>[jiayou]</string>
		<key>png</key>
		<string>jiayou.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[赞]</string>
		<key>eng</key>
		<string>[zan]</string>
		<key>png</key>
		<string>zan.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[心]</string>
		<key>eng</key>
		<string>[xin]</string>
		<key>png</key>
		<string>xin.png</string>
	</dict>
<dict>
		<key>chi</key>
		<string>[伤心]</string>
		<key>eng</key>
		<string>shangxin</string>
		<key>png</key>
		<string>shangxin.png</string>
	</dict>

	<dict>
		<key>chi</key>
		<string>[鲜花]</string>
		<key>eng</key>
		<string>[xianhua]</string>
		<key>png</key>
		<string>xianhua.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[拉花]</string>
		<key>eng</key>
		<string>[lahua]</string>
		<key>png</key>
		<string>lahua.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[足球]</string>
		<key>eng</key>
		<string>[zuqiu]</string>
		<key>png</key>
		<string>zuqiu.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[奖杯]</string>
		<key>eng</key>
		<string>[jiangbei]</string>
		<key>png</key>
		<string>jiangbei.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[啤酒]</string>
		<key>eng</key>
		<string>[pijiu]</string>
		<key>png</key>
		<string>pijiu.png</string>
	</dict>
	<dict>
		<key>chi</key>
		<string>[蜡烛]</string>
		<key>eng</key>
		<string>[lazhu]</string>
		<key>png</key>
		<string>lazhu.png</string>
	</dict>
</array>
</plist>
