<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>登录</string>
			<key>selector</key>
			<string>login://</string>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>收藏文章</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_collect_v5.png</string>
			<key>openUrl</key>
			<string>tt://homeCorpus</string>
			<key>fun</key>
			<string>80</string>
		</dict>
		<dict>
			<key>title</key>
			<string>阅读历史</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_history_v5.png</string>
			<key>openUrl</key>
			<string>readhistory://</string>
			<key>fun</key>
			<string>90</string>
		</dict>
		<dict>
			<key>title</key>
			<string>看看搜狐号文章</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_kksohu_v5.png</string>
			<key>openUrl</key>
			<string>tt://myConcern</string>
			<key>fun</key>
			<string>88</string>
		</dict>
		<dict>
			<key>title</key>
			<string>狐友动态</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_fox_v5.png</string>
			<key>openUrl</key>
			<string>openSNS</string>
			<key>fun</key>
			<string>122</string>
		</dict>
		<dict>
			<key>title</key>
			<string>退出登录</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_exit_v5.png</string>
			<key>openUrl</key>
			<string>logout</string>
			<key>fun</key>
			<string>123</string>
		</dict>
		<dict>
			<key>title</key>
			<string>space</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_set_v5.png</string>
			<key>openUrl</key>
			<string>tt://setting</string>
			<key>fun</key>
			<string>84</string>
		</dict>
		<dict>
			<key>title</key>
			<string>夜间模式</string>
			<key>selector</key>
			<string>openNight</string>
			<key>icon</key>
			<string>icome_night_v5.png</string>
			<key>openUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户评论</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_feedback_v5.png</string>
			<key>openUrl</key>
			<string>tt://feedback</string>
			<key>fun</key>
			<string>87</string>
		</dict>
		<dict>
			<key>title</key>
			<string>活动</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_activity_v5.png</string>
			<key>openUrl</key>
			<string>activity</string>
			<key>fun</key>
			<string>82</string>
		</dict>
		<dict>
			<key>title</key>
			<string>申请成为搜狐号</string>
			<key>selector</key>
			<string>meOpenUrl:</string>
			<key>icon</key>
			<string>icome_sq_v5.png</string>
			<key>openUrl</key>
			<string>application</string>
		</dict>
	</array>
</array>
</plist>
