<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>非WiFi网络不显示图片</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForNoPicMode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>滑动隐藏操作栏</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForAutoFullscreenMode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>WiFi下智能播放视频</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForNoVideoMode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>截屏反馈</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForScreenShotFeedBack</string>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForTextFont</string>
			<key>openUrl</key>
			<string>tt://wordSetting</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智能关闭夜间模式</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForThemeNightMode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>正文页小窗播放</string>
			<key>selector</key>
			<string></string>
			<key>cellClass</key>
			<string>SNSettingCellForSmallWindowVideoMode</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>新闻推送设置</string>
			<key>selector</key>
			<string>kickOpenUrl:</string>
			<key>cellClass</key>
			<string>SNSettingCellWithIndicatorOnly</string>
			<key>openUrl</key>
			<string>tt://pushSeting</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>已缓存</string>
			<key>selector</key>
			<string>clearCache:</string>
			<key>cellClass</key>
			<string>SNSettingCellForCacheClear</string>
		</dict>
		<dict>
			<key>title</key>
			<string>封面故事</string>
			<key>selector</key>
			<string>showSplash</string>
			<key>cellClass</key>
			<string>SNSettingCellWithTextOnly</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于</string>
			<key>selector</key>
			<string>kickOpenUrl:</string>
			<key>cellClass</key>
			<string>SNSettingCellWithIndicatorOnly</string>
			<key>openUrl</key>
			<string>tt://m_about</string>
		</dict>
		<dict>
			<key>title</key>
			<string>搜狐号</string>
			<key>selector</key>
			<string>kickMedia</string>
			<key>cellClass</key>
			<string>SNSettingCellWithIndicatorOnly</string>
		</dict>
		<dict>
			<key>title</key>
			<string>免责声明</string>
			<key>selector</key>
			<string>kickOpenUrl:</string>
			<key>cellClass</key>
			<string>SNSettingCellWithIndicatorOnly</string>
			<key>openUrl</key>
			<string>tt://m_statement</string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户隐私保护政策</string>
			<key>cellClass</key>
			<string>SNSettingCellWithIndicatorOnly</string>
			<key>selector</key>
			<string>kickUserPrivacyProtectPolicy</string>
		</dict>
	</array>
</array>
</plist>
