<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>fontColor</key>
		<string>kThemeText3Color</string>
		<key>progressBgColor</key>
		<string>kThemeRed1Color</string>
		<key>normalProgressBgColor</key>
		<string>kThemeText3Color</string>
		<key>bgColor</key>
		<string>kThemeBg4Color</string>
		<key>thumbImg</key>
		<string>icofiction_planh_v5.png</string>
		<key>backImg</key>
		<string>icofiction_zwarrows_v5.png</string>
		<key>catelogImg</key>
		<string>icofiction_zwcatalog_v5.png</string>
		<key>fontImg</key>
		<string>icofiction_zwtypefacebig_v5.png</string>
		<key>nightImg</key>
		<string>icofiction_zwnight_v5.png</string>
		<key>moreImg</key>
		<string>icofiction_more_v5.png</string>
		<key>fontSmallImg</key>
		<string>icofiction_typefacesmallh_v5.png</string>
		<key>fontBigImg</key>
		<string>icofiction_typefacebigh_v5.png</string>
		<key>brightnessSmallImg</key>
		<string>icofiction_brightnessh1_v5.png</string>
		<key>brightnessBigImg</key>
		<string>icofiction_brightnessh2_v5.png</string>
		<key>readSelectedRadiuColor</key>
		<string>kThemeRed1Color</string>
	</dict>
	<key>1</key>
	<dict>
		<key>fontColor</key>
		<string>HWTextColor</string>
		<key>progressBgColor</key>
		<string>HWProgressBGColor</string>
		<key>normalProgressBgColor</key>
		<string>kThemeText3Color</string>
		<key>bgColor</key>
		<string>StoryReadBackgroundColor1</string>
		<key>thumbImg</key>
		<string>icofiction_planz_v5.png</string>
		<key>backImg</key>
		<string>icofiction_zwarrowsz_v5.png</string>
		<key>catelogImg</key>
		<string>icofiction_zwcatalogz_v5.png</string>
		<key>fontImg</key>
		<string>icofiction_zwtypefacebigz_v5.png</string>
		<key>nightImg</key>
		<string>icofiction_zwnightz_v5.png</string>
		<key>moreImg</key>
		<string>icofiction_morez_v5.png</string>
		<key>fontSmallImg</key>
		<string>icofiction_typefacesmallz_v5.png</string>
		<key>fontBigImg</key>
		<string>icofiction_typefacebigz_v5.png</string>
		<key>brightnessSmallImg</key>
		<string>icofiction_brightnessz1_v5.png</string>
		<key>brightnessBigImg</key>
		<string>icofiction_brightnessz2_v5.png</string>
		<key>readSelectedRadiuColor</key>
		<string>ReadSelectedHWColor</string>
	</dict>
	<key>2</key>
	<dict>
		<key>fontColor</key>
		<string>PUTextColor</string>
		<key>progressBgColor</key>
		<string>PUProgressBGColor</string>
		<key>normalProgressBgColor</key>
		<string>kThemeText3Color</string>
		<key>bgColor</key>
		<string>PUBGColor</string>
		<key>thumbImg</key>
		<string>icofiction_planf_v5.png</string>
		<key>backImg</key>
		<string>icofiction_zwarrowsf_v5.png</string>
		<key>catelogImg</key>
		<string>icofiction_zwcatalogf_v5.png</string>
		<key>fontImg</key>
		<string>icofiction_zwtypefacebigf_v5.png</string>
		<key>nightImg</key>
		<string>icofiction_zwnightf_v5.png</string>
		<key>moreImg</key>
		<string>icofiction_moref_v5.png</string>
		<key>fontSmallImg</key>
		<string>icofiction_typefacesmallf_v5.png</string>
		<key>fontBigImg</key>
		<string>icofiction_typefacebigf_v5.png</string>
		<key>brightnessSmallImg</key>
		<string>icofiction_brightnessf1_v5.png</string>
		<key>brightnessBigImg</key>
		<string>icofiction_brightnessf2_v5.png</string>
		<key>readSelectedRadiuColor</key>
		<string>ReadSelectedPUColor</string>
	</dict>
	<key>3</key>
	<dict>
		<key>fontColor</key>
		<string>GRTextColor</string>
		<key>progressBgColor</key>
		<string>GRProgressBGColor</string>
		<key>normalProgressBgColor</key>
		<string>kThemeText3Color</string>
		<key>bgColor</key>
		<string>GRBGColor</string>
		<key>thumbImg</key>
		<string>icofiction_planl_v5.png</string>
		<key>backImg</key>
		<string>icofiction_zwarrowsl_v5.png</string>
		<key>catelogImg</key>
		<string>icofiction_zwcatalogl_v5.png</string>
		<key>fontImg</key>
		<string>icofiction_zwtypefacebigl_v5.png</string>
		<key>nightImg</key>
		<string>icofiction_zwnightl_v5.png</string>
		<key>moreImg</key>
		<string>icofiction_morel_v5.png</string>
		<key>fontSmallImg</key>
		<string>icofiction_typefacesmalll_v5.png</string>
		<key>fontBigImg</key>
		<string>icofiction_typefacebigl_v5.png</string>
		<key>brightnessSmallImg</key>
		<string>icofiction_brightnessl1_v5.png</string>
		<key>brightnessBigImg</key>
		<string>icofiction_brightnessl2_v5.png</string>
		<key>readSelectedRadiuColor</key>
		<string>ReadSelectedGRColor</string>
	</dict>
	<key>4</key>
	<dict>
		<key>fontColor</key>
		<string>kThemeText3Color</string>
		<key>progressBgColor</key>
		<string>kThemeRed1Color</string>
		<key>normalProgressBgColor</key>
		<string>kThemeText3Color</string>
		<key>bgColor</key>
		<string>kThemeBg4Color</string>
		<key>thumbImg</key>
		<string>icofiction_planh_v5.png</string>
		<key>backImg</key>
		<string>icofiction_zwarrows_v5.png</string>
		<key>catelogImg</key>
		<string>icofiction_zwcatalog_v5.png</string>
		<key>fontImg</key>
		<string>icofiction_zwtypefacebig_v5.png</string>
		<key>nightImg</key>
		<string>icofiction_zwnight_v5.png</string>
		<key>moreImg</key>
		<string>icofiction_more_v5.png</string>
		<key>fontSmallImg</key>
		<string>icofiction_typefacesmallh_v5.png</string>
		<key>fontBigImg</key>
		<string>icofiction_typefacebigh_v5.png</string>
		<key>brightnessSmallImg</key>
		<string>icofiction_brightnessh1_v5.png</string>
		<key>brightnessBigImg</key>
		<string>icofiction_brightnessh2_v5.png</string>
		<key>readSelectedRadiuColor</key>
		<string>kThemeRed1Color</string>
	</dict>
</dict>
</plist>
