<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kThemeText13Color</key>
	<string>#2e2e2e</string>
	<key>kThemeLoginBgColor</key>
	<string>#ffffff</string>
	<key>kThemeLoginTextFieldBorderColor</key>
	<string>#e8e8e8</string>
	<key>kThemeLoginTextFieldBgColor</key>
	<string>#f4f5f6</string>
	<key>kThemeMeLoginHeaderColor</key>
	<string>#f5f5f5</string>
	<key>kThemeCenterScreenWindowColor</key>
	<string>#f6503e</string>
	<key>kThemeCenterToastBgColor</key>
	<string>#000000</string>
	<key>kThemeCheckLineColor</key>
	<string>#ffffff</string>
	<key>kThemeBlue1Color</key>
	<string>#3d5699</string>
	<key>kThemeBlue2Color</key>
	<string>#3b87f9</string>
	<key>kThemeHighBlue1Color</key>
	<string>#c4cce0</string>
	<key>kThemeRed1Color</key>
	<string>#ee2f10</string>
	<key>kThemeRed2Color</key>
	<string>#ed594c</string>
	<key>kThemeGreen1Color</key>
	<string>#59d141</string>
	<key>kThemeYellow1Color</key>
	<string>#fdd536</string>
	<key>kThemeBlackColor</key>
	<string>#000000</string>
	<key>kThemeText1Color</key>
	<string>#000000</string>
	<key>kThemeText2Color</key>
	<string>#454545</string>
	<key>kThemeText3Color</key>
	<string>#929292</string>
	<key>kThemeText4Color</key>
	<string>#929292</string>
	<key>kThemeText5Color</key>
	<string>#ffffff</string>
	<key>kThemeText6Color</key>
	<string>#696969</string>
	<key>kThemeText7Color</key>
	<string>#999999</string>
	<key>kThemeText8Color</key>
	<string>#707070</string>
	<key>kThemeText9Color</key>
	<string>#b2b2b2</string>
	<key>kThemeText10Color</key>
	<string>#2e2e2e</string>
	<key>kThemeText11Color</key>
	<string>#ffffff</string>
	<key>kThemeText12Color</key>
	<string>#ffffff</string>
	<key>kThemeHomeSearchTextColor</key>
	<string>#808080</string>
	<key>kThemeTextRIColor</key>
	<string>#000000</string>
	<key>kThemeTextRI1Color</key>
	<string>#a6a6a6</string>
	<key>kThemeTextUpdateColor</key>
	<string>#000000</string>
	<key>kThemeBg1Color</key>
	<string>#dadada</string>
	<key>kThemeBg2Color</key>
	<string>#f1f1f1</string>
	<key>kThemeBg3Color</key>
	<string>#f9f9f9</string>
	<key>kThemeBg4Color</key>
	<string>#ffffff</string>
	<key>kThemeBg5Color</key>
	<string>#ffffff</string>
	<key>kThemeBg6Color</key>
	<string>#e5e5e5</string>
	<key>kThemeBgRIColor</key>
	<string>#ffffff</string>
	<key>kRefreshBgColor</key>
	<string>#f5f5f5</string>
	<key>kThemeHomeSearchBgColor</key>
	<string>#f5f5f5</string>
	<key>kWebImageViewBackgroundColor</key>
	<string>#f2f2f2</string>
	<key>kSubMySubCellContentTextColor</key>
	<string>#a3a3a3</string>
	<key>kSubCenterStatusBarBackgroundColor</key>
	<string>#ffffff</string>
	<key>kSubHomeMoreSubCellTextColor</key>
	<string>#454545</string>
	<key>kSubHomeTableCellContentTextColor</key>
	<string>#000000</string>
	<key>kSubHomeTableCellContentBackColor</key>
	<string>#ffffff</string>
	<key>KHotCommentUserNameColor</key>
	<string>#383838</string>
	<key>kTabbarNormalTextColor</key>
	<string>#4d4d4d</string>
	<key>kTabbarSelectedTextColor</key>
	<string>#d00000</string>
	<key>kNavigatorTintColor</key>
	<string>#e20606</string>
	<key>kGroupPhotoListTitleColor</key>
	<string>#262626</string>
	<key>kGroupPhotoListImageCountColor</key>
	<string>#a6a6a6</string>
	<key>kGroupPhotoListFavCountColor</key>
	<string>#a6a6a6</string>
	<key>kGroupPhotoListCommentCountColor</key>
	<string>#a6a6a6</string>
	<key>kBackgroundColor</key>
	<string>#f8f8f8</string>
	<key>kBackgroundColor_Attention</key>
	<string>#ffffff</string>
	<key>kPlaceHolderColor</key>
	<string>#929292</string>
	<key>kViewBackgroundColor</key>
	<string>#ffffff</string>
	<key>kGroupPhotoTitleColor</key>
	<string>#ffffff</string>
	<key>kTableCellSeparatorColor1</key>
	<string>#dcdcdc</string>
	<key>kTableCellSeparatorColor2</key>
	<string>#ffffff</string>
	<key>kImageAlpha</key>
	<string>1</string>
	<key>kGroupPhtotCellTitleColor</key>
	<string>#000000</string>
	<key>kGroupPhotoTagNormalTextColor</key>
	<string>#383838</string>
	<key>kGroupPhotoTagSelectedTextColor</key>
	<string>#d00000</string>
	<key>kRollingNewsChannelNormalTextColor</key>
	<string>#707070</string>
	<key>kRollingNewsChannelSelectedTextColor</key>
	<string>#d00000</string>
	<key>kRollingNewsCellTitleUnreadColor</key>
	<string>#000000</string>
	<key>kRollingNewsCellDetailTextUnreadColor</key>
	<string>#6e6e6e</string>
	<key>kRollingNewsCellTitleReadColor</key>
	<string>#a3a3a3</string>
	<key>kRollingNewsCellDetailTextReadColor</key>
	<string>#a3a3a3</string>
	<key>kRollingNewsCellCommentColor</key>
	<string>#a6a6a6</string>
	<key>kRollingNewsCellCommentReadColor</key>
	<string>#a3a3a3</string>
	<key>kRollingNewsCellPhotoBorderColor</key>
	<string>#dcdcdc</string>
	<key>kRollingNewsHeadlineBorderColor</key>
	<string>#c0c0c0</string>
	<key>kShareToInfoTextColor</key>
	<string>#000000</string>
	<key>kRollingNewsPromotionTitleColor</key>
	<string>#434c59</string>
	<key>kSubHomeLauncherBgColor</key>
	<string>#f4f4f4</string>
	<key>kSubHomeLauncherTitleColor</key>
	<string>#747474</string>
	<key>kSubHomeTitleViewSubCountTextColor</key>
	<string>#ffffff</string>
	<key>kSubHomeTitleViewSubTitleColor</key>
	<string>#d00000</string>
	<key>kSubHomeEditBtnNormalTitleColor</key>
	<string>#d00000</string>
	<key>kSubHomeEditBtnHLTitleColor</key>
	<string>#fcfcfc</string>
	<key>kSubHomeEditBtnDisableTitleColor</key>
	<string>#dcdcdc</string>
	<key>kSubHomeTableCellSeparatorColor1</key>
	<string>#b9b9b9</string>
	<key>kSubHomeTableCellSubCountLabelColor</key>
	<string>#a6a6a6</string>
	<key>kSubHomeTableCellTitleLabelColor</key>
	<string>#383838</string>
	<key>kSubHomeTableCellDetailLabelColor</key>
	<string>#6e6e6e</string>
	<key>kSubHomeTableSectionTitleColor</key>
	<string>#565656</string>
	<key>kSubHomeTableSectionTitleShadowColor</key>
	<string>#ffffff</string>
	<key>kPostTextViewBgColor</key>
	<string>#e2e2e2</string>
	<key>kBarBtnItemTextColor</key>
	<string>#ffffff</string>
	<key>kPhotoListTitleColor</key>
	<string>#262626</string>
	<key>kPhotoListSourceColor</key>
	<string>#a6a6a6</string>
	<key>kPhotoListDetailColor</key>
	<string>#5a5a5a</string>
	<key>kPhotoListRecommendTitleColor</key>
	<string>#000000</string>
	<key>kDragRefreshViewBgColor</key>
	<string>#f8f8f8</string>
	<key>kDragRefreshTextColor</key>
	<string>#515151</string>
	<key>kDragRefreshUpdateTimeColor</key>
	<string>#9c9c9c</string>
	<key>kDragCircleBgColor</key>
	<string>#f1f1f1</string>
	<key>kDragCircleMaskColor</key>
	<string>#ea5f5b</string>
	<key>kCommentsCellTitleTextColor</key>
	<string>#000000</string>
	<key>kCommentsCellCaptionTextColor</key>
	<string>#a70000</string>
	<key>kCommentsCellDetailTextColor</key>
	<string>#4b4b46</string>
	<key>kCommentsCellTimestampTextColor</key>
	<string>#969696</string>
	<key>kHistoryCellTextUnreadColor</key>
	<string>#4d4d4d</string>
	<key>kHistoryCellTextReadColor</key>
	<string>#bfbfbf</string>
	<key>kHistoryCellDateUnreadColor</key>
	<string>#d00000</string>
	<key>kHistoryCellDateReadColor</key>
	<string>#bfbfbf</string>
	<key>kPhotoSliderAbstractTextColor</key>
	<string>#ffffff</string>
	<key>kSwitchTextColor</key>
	<string>#4d4d4d</string>
	<key>kButtonSelectedTextColor</key>
	<string>#ffffff</string>
	<key>kFeedBackTextColor</key>
	<string>#d3d3d3</string>
	<key>kAboutViewTextColor</key>
	<string>#79756f</string>
	<key>kCommentPostBgColor</key>
	<string>#eaeaea</string>
	<key>kMessageTextColor</key>
	<string>#ffffff</string>
	<key>kMessageTextShadowColor</key>
	<string>#000000</string>
	<key>kLiveGameTypeTextColor</key>
	<string>#676767</string>
	<key>kLiveGameInfoTextColor</key>
	<string>#383838</string>
	<key>kLiveGameDateTextColor</key>
	<string>#676767</string>
	<key>kLiveGameDateTimeColor</key>
	<string>#7f7f7f</string>
	<key>kLiveGameScoreTextColor</key>
	<string>#C80000</string>
	<key>kLiveGameSepretorColor</key>
	<string>#D5D5D5</string>
	<key>kFloorCommentUserInfoColor</key>
	<string>#b70000</string>
	<key>kFloorCommentDateColor</key>
	<string>#969696</string>
	<key>kFloorViewCommentUserInfoColor</key>
	<string>#858585</string>
	<key>kFloorViewCommentFnumColor</key>
	<string>#e03e3e</string>
	<key>kFloorViewCommentContentColor</key>
	<string>#454545</string>
	<key>kFloorViewExpandBtnColor</key>
	<string>#6b6b6b</string>
	<key>kLiveContentInfoSepLineColor</key>
	<string>#BEBEBE</string>
	<key>kLiveContentCellMenuBtnColor</key>
	<string>#6b6b6b</string>
	<key>kLiveContentCellMenuBtnColorD</key>
	<string>#b2b2b2</string>
	<key>kCommentSwitcherTitleNormalColor</key>
	<string>#570000</string>
	<key>kCommentSwitcherTitleSelectedColor</key>
	<string>#ffffff</string>
	<key>kSegmentThumBackColor</key>
	<string>#cc0000</string>
	<key>kDownloadSwitcherBtnUnselectedTitleColor</key>
	<string>#480000</string>
	<key>kDownloadSwitcherBtnSelectedTitleColor</key>
	<string>#ffffff</string>
	<key>kDownloadingWaitingViewBgColor</key>
	<string>#ffffff</string>
	<key>kDownloadingCellTitleColor</key>
	<string>#000000</string>
	<key>kDownloadingCellDatetimeColor</key>
	<string>#919191</string>
	<key>kDownloadingCellProgressLoadingColor</key>
	<string>#ff0000</string>
	<key>kDownloadingCellProgressPercentColor</key>
	<string>#d00000</string>
	<key>kDownloadingCellStatusColor</key>
	<string>#909090</string>
	<key>kDownloaderEmptyMessageColor</key>
	<string>#383838</string>
	<key>kDownloadingPercentColor</key>
	<string>#de3a3c</string>
	<key>kDownloadingBgColor</key>
	<string>#eeeeee</string>
	<key>kDownloadingButtonColor</key>
	<string>#747474</string>
	<key>kDownloadingSettingColor</key>
	<string>#d41b1b</string>
	<key>kWeatherWidgetTextColor</key>
	<string>#ffffff</string>
	<key>kWeatherTitleTextColor</key>
	<string>#4f4f4f</string>
	<key>kFeedbackDateLabelColor</key>
	<string>#969696</string>
	<key>kFeedbackContentLabelColor</key>
	<string>#383838</string>
	<key>kCurrentNicknameTextColor</key>
	<string>#383838</string>
	<key>kNicknameHistoryTextColor</key>
	<string>#6d6d6d</string>
	<key>kNicknameClearButtonTextColor</key>
	<string>#d00000</string>
	<key>kNicknameHistorySeperatorColor</key>
	<string>#cbcbcb</string>
	<key>kMyFavouriteCellTitleUnreadColor</key>
	<string>#383838</string>
	<key>kMyFavouriteCellTitleReadColor</key>
	<string>#a3a3a3</string>
	<key>kMyFavouriteCellPubDateUnreadColor</key>
	<string>#a6a6a6</string>
	<key>kMyFavouriteCellPubDateReadColor</key>
	<string>#a3a3a3</string>
	<key>kChannelManagePanelPromtColor</key>
	<string>#b4b4b4</string>
	<key>kChannelManageChannelColor</key>
	<string>#565656</string>
	<key>kChannelManageSteadyNewsColor</key>
	<string>#969696</string>
	<key>kLogoDateColor</key>
	<string>#bdbdbd</string>
	<key>kLogoBackgroundColor</key>
	<string>#f8f8f8</string>
	<key>kTermNameColor</key>
	<string>#000000</string>
	<key>kLogoSeperatorColor</key>
	<string>#e31515</string>
	<key>kPostFollowCommentColor</key>
	<string>#737373</string>
	<key>kActionViewSheetBtnColor</key>
	<string>#ffffff</string>
	<key>kSharePostSendBtnColor</key>
	<string>#cf3632</string>
	<key>kVoteDetailTextColor</key>
	<string>#383838</string>
	<key>kUserinfoLebelColor</key>
	<string>#969696</string>
	<key>kUserinfoLebelHlColor</key>
	<string>#d92f2f</string>
	<key>kUserinfoTextColor</key>
	<string>#000000</string>
	<key>kUserinfoButtonFontColor</key>
	<string>#ffffff</string>
	<key>kUserinfoProtocoLabelColor</key>
	<string>#d42c2c</string>
	<key>kUserinfoTitleFontColor</key>
	<string>#AEADAD</string>
	<key>kUserinfoTextFontColor</key>
	<string>#666666</string>
	<key>kUserinfoTextTipColor</key>
	<string>#949494</string>
	<key>kUserinfoTextThirdPartyColor</key>
	<string>#999999</string>
	<key>kUserinfoTextOtherTitleColor</key>
	<string>#383838</string>
	<key>kUserinfoSexTextColor</key>
	<string>#BB1317</string>
	<key>kUserinfoSexTextColorUnselect</key>
	<string>#6E6E6E</string>
	<key>kCircleSegmentNumberColor</key>
	<string>#4A4A4A</string>
	<key>kCircleSegmentNumberSelectColor</key>
	<string>#E6393E</string>
	<key>kCircleSegmentFontColor</key>
	<string>#676767</string>
	<key>kCircleBaseinfoPlaceColor</key>
	<string>#9F9F9F</string>
	<key>kCircleBaseinfoNameColor</key>
	<string>#383838</string>
	<key>kCircleButtonNameColor</key>
	<string>#88c157</string>
	<key>kShakingLabelColor</key>
	<string>#9b9b9b</string>
	<key>kShakingItemLabelColor</key>
	<string>#a6a6a6</string>
	<key>kShakingTitleLabelColor</key>
	<string>#333333</string>
	<key>kShakingButtonTitleColor</key>
	<string>#ffffff</string>
	<key>kShakingPushLabelColor</key>
	<string>#383838</string>
	<key>kSubCenterAllSubTypeTextColor</key>
	<string>#D00000</string>
	<key>kSubCenterAllSubTypeTextUnSelectColor</key>
	<string>#383838</string>
	<key>kSubCenterAllSubNameTextColor</key>
	<string>#383838</string>
	<key>kSubCenterAllSubPersonCountTextColor</key>
	<string>#A6A6A6</string>
	<key>kSubCenterDetailWhiteBtnTextColor</key>
	<string>#FFFFFF</string>
	<key>kSubCenterDetailPressBtnTextColor</key>
	<string>#b2b2b2</string>
	<key>kSubCenterDetailGrayBtnTextColor</key>
	<string>#000000</string>
	<key>kAlertTitleTextColor</key>
	<string>#d42c2c</string>
	<key>kAlertMsgTextColor</key>
	<string>#6e6e6e</string>
	<key>kAlertMsgBtnTextColor</key>
	<string>#767676</string>
	<key>kSubCenterDetailAdDotSelectColor</key>
	<string>#EA3D32</string>
	<key>kSubCenterDetailAdDotOtherColor</key>
	<string>#C4C4C4</string>
	<key>kRollingHeadLineTextColor</key>
	<string>#FFFFFF</string>
	<key>kDownloadSettingCellTitleColor</key>
	<string>#4f4f4f</string>
	<key>kDownloadSettingSelectCountColor</key>
	<string>#868686</string>
	<key>kDownloadingProgressBarPercentageColor</key>
	<string>#d42c2c</string>
	<key>kDownloadingOneKeyDownloadBtnTextColor</key>
	<string>#ffffff</string>
	<key>kAboutTextColor</key>
	<string>#ce413d</string>
	<key>kDownloadingArrowIndicatorBGColor</key>
	<string>#ababab</string>
	<key>kLoadTextColor</key>
	<string>#B5B5B5</string>
	<key>kSearchHotwordTextColor</key>
	<string>#565656</string>
	<key>kStatementButtonTextColor</key>
	<string>8e8e8e</string>
	<key>kStatementContentTextColor</key>
	<string>#454545</string>
	<key>kImageViewDefaultBackgroundColor</key>
	<string>#f4f5f5</string>
	<key>kSearchHistoryTextColor</key>
	<string>#b4b4b4</string>
	<key>kSearchHistoryClearTextColor</key>
	<string>#cd3232</string>
	<key>kShowMoreCommentColor</key>
	<string>#a80000</string>
	<key>kCommentNewsTitleColor</key>
	<string>#9f9f9f</string>
	<key>kLiveStatisticLineColor</key>
	<string>#D8D8D8</string>
	<key>kLiveStatisticColumnColor</key>
	<string>#E4E4E4</string>
	<key>kLiveStatisticTextColor</key>
	<string>#595959</string>
	<key>kContentMoreFontColor</key>
	<string>#454545</string>
	<key>kContentMoreFontColorHL</key>
	<string>#de3a3c</string>
	<key>kContentSolidColor</key>
	<string>#c92621</string>
	<key>kContentMoreTextColor</key>
	<string>#b9b9b9</string>
	<key>kAuthorNameColor</key>
	<string>#586b95</string>
	<key>kReplyAuthorNameColor</key>
	<string>#969696</string>
	<key>kLiveRoomContentColor</key>
	<string>#6e6e6e</string>
	<key>kHotCommentAuthorColor</key>
	<string>#383838</string>
	<key>kLiveRoomTopInfoViewTextColor</key>
	<string>#595959</string>
	<key>kTLViewTitleTextColor</key>
	<string>#383838</string>
	<key>kTLViewFromTextColor</key>
	<string>#989898</string>
	<key>kCommentTextTipColor</key>
	<string>#a4a4a4</string>
	<key>kRecordTimerColor</key>
	<string>#de3a3c</string>
	<key>kRecommendSectionTitleColor</key>
	<string>#696969</string>
	<key>kUserInfoFollowColor</key>
	<string>#FFFFFF</string>
	<key>kTLLoginBtnTextColor</key>
	<string>#A6C678</string>
	<key>kRecommendNewsCellTextColor</key>
	<string>#383838</string>
	<key>kRecommnedNewsViewTitleColor</key>
	<string>#454545</string>
	<key>kRollingNewsTypeSpecialColor</key>
	<string>#de3a3c</string>
	<key>kRollingNewsTypeLiveColor</key>
	<string>#3d5699</string>
	<key>kRollingNewsTypeRecommendColor</key>
	<string>#a6a6a6</string>
	<key>kRollingNewsTypeFlashColor</key>
	<string>#72b738</string>
	<key>kRollingNewsTypeWeMediaColor</key>
	<string>#f08300</string>
	<key>kRollingNewsTypeTextColor</key>
	<string>#ffffff</string>
	<key>kRollingNewsTypeRecommendTextColor</key>
	<string>#ffffff</string>
	<key>kUserinfoMediaTitleColor</key>
	<string>#383838</string>
	<key>kUserinfoMediaContentColor</key>
	<string>#989898</string>
	<key>kGuideRegisterNameColor</key>
	<string>#576b95</string>
	<key>kVoteSectionTitleLabelTextColor</key>
	<string>#454545</string>
	<key>kVoteItemTitleLabelTextColor</key>
	<string>##383838</string>
	<key>kVotePersonCountLabelTextColor</key>
	<string>#e31515</string>
	<key>kVoteOverDateLabelTextColor</key>
	<string>#e31515</string>
	<key>kVoteItemTypeLabelTextColor</key>
	<string>#969696</string>
	<key>kVoteBtnTitleColor</key>
	<string>#d00000</string>
	<key>kVoteOptionTitleLabelTextColor</key>
	<string>#383838</string>
	<key>kProgressValueLabelTextColor</key>
	<string>#4d4d4d</string>
	<key>kGuideRegisterTipTextColor</key>
	<string>#2e2e2e</string>
	<key>kActionsheetTextColor</key>
	<string>#2e2e2e</string>
	<key>kRefreshMessageColor</key>
	<string>#de3a3c</string>
	<key>kVideoEmptyDownloadView_HeadlineTextColor</key>
	<string>#b5b5b5</string>
	<key>kVideoEmptyDownloadView_SubheadTextColor</key>
	<string>#b5b5b5</string>
	<key>kVideoDownloadTableViewCell_HeadlineTextColor</key>
	<string>#383838</string>
	<key>kVideoDownloadCell_DataSizeTextColor</key>
	<string>#919191</string>
	<key>kVideoDownloadCell_DataSizeRedTextColor</key>
	<string>#E70505</string>
	<key>kVideoDownloadHeaderBar_TitleTextColor</key>
	<string>#d00000</string>
	<key>kDownloadVideoProgressBar_BgColor</key>
	<string>#D8D8D8</string>
	<key>kDownloadVideoProgressBar_ProgressColor</key>
	<string>#999999</string>
	<key>kCommentRoleTextColor</key>
	<string>#0e5293</string>
	<key>kChannelSectionViewBgColor</key>
	<string>#EBEBEB</string>
	<key>kChannelSectionViewTextColor</key>
	<string>#565656</string>
	<key>kChannelSectionViewInfoTextColor</key>
	<string>#ABABAB</string>
	<key>kSNActionSheetDestruButtonTitleColor</key>
	<string>#ffffff</string>
	<key>kChannelScrollBarChannelEditBtnTextColor</key>
	<string>#565656</string>
	<key>kVideoHotCategoryTitleColor</key>
	<string>#454545</string>
	<key>kVideoHotCategoryTitleDesciptionColor</key>
	<string>#8F8F8F</string>
	<key>kVideoChannelViewTitleColor</key>
	<string>#565656</string>
	<key>kVideoChannelViewTitleSelectedColor</key>
	<string>#D41919</string>
	<key>kVideoDetialSectionHeaderTextColor</key>
	<string>#000000</string>
	<key>kVideoTimelineTitleTextColor</key>
	<string>#1a1a1a</string>
	<key>kVideoTimelineTitleMaskColor</key>
	<string>#f8f8f8</string>
	<key>kLiveSectionTitleColor</key>
	<string>#6b6b6b</string>
	<key>kLiveSectionBarColor</key>
	<string>#ebebeb</string>
	<key>kTimelineVideoMediaPortalNormalColor</key>
	<string>#9b9b9b</string>
	<key>kTimelineVideoMediaPortalPressColor</key>
	<string>#D00000</string>
	<key>kNewsChannelSwitchNormalColor</key>
	<string>#505050</string>
	<key>kNewsChannelSwitchHighlightColor</key>
	<string>#f2f2f2</string>
	<key>kUserCenterNameTextColor</key>
	<string>#000000</string>
	<key>kUserCenterSmallTextColor</key>
	<string>#6c6c6c</string>
	<key>kLowestTemperatureColor</key>
	<string>#898989</string>
	<key>kHighestTemperatureColor</key>
	<string>#585858</string>
	<key>kWeatherInfoTextColor</key>
	<string>#454545</string>
	<key>kWeatherWindTextColor</key>
	<string>#6e6e6e</string>
	<key>kVideoDownloadFileSystemSizeBarBgColor</key>
	<string>#F2F2F2</string>
	<key>kVideoDownloadFileSystemSizeBarTextColor</key>
	<string>#919191</string>
	<key>kVideoDownloadFileSystemSizeBarTotalColor</key>
	<string>#D8D8D8</string>
	<key>kVideoDownloadFileSystemSizeBarFreeColor</key>
	<string>#999999</string>
	<key>kWeiboSettingBindTitleColor</key>
	<string>#55ba48</string>
	<key>kWeiboSettingBindTitlePressColor</key>
	<string>#99d691</string>
	<key>kWeiboSettingUnbindTitleColor</key>
	<string>#b0b0b0</string>
	<key>kWeiboSettingUnbindTitlePressColor</key>
	<string>#d0d0d0</string>
	<key>kShareCommentBarSepLineColor</key>
	<string>#dadada</string>
	<key>kNewsFavourPromptColor</key>
	<string>#c47273</string>
	<key>kSearchHotwordViewBackgroundColor</key>
	<string>#e8e8e8</string>
	<key>kSearchHotwordColor</key>
	<string>#545454</string>
	<key>kRollingNewsLoadMoreBackgroundColor</key>
	<string>#ebebeb</string>
	<key>kRollingNewsLoadMoreTextColor</key>
	<string>#7e7e7e</string>
	<key>kSearchTypeTextColor</key>
	<string>#8e8e8e</string>
	<key>kRollingNewsFinanceBackgroundColor</key>
	<string>#ffffff</string>
	<key>kOpenMoreHotCommentTitleColor</key>
	<string>#7e7e7e</string>
	<key>kOpenMoreHotCommentBackGroudColor</key>
	<string>#ebebeb</string>
	<key>kRollingNewsMatchTextColor</key>
	<string>#6e6e6e</string>
	<key>kRollingNewsContentBackgroundColor</key>
	<string>#ebebeb</string>
	<key>kNewsFavourCountColor</key>
	<string>#e57475</string>
	<key>kSubTypeCellHilightBgColor</key>
	<string>#f1f1f1</string>
	<key>kAlipayButtonBgColor</key>
	<string>#ffd130</string>
	<key>kAlipayTextBgColor</key>
	<string>#610505</string>
	<key>kRedPacketMoneyColor</key>
	<string>#ddbc84</string>
	<key>kTaskRedPacketMoneyColor</key>
	<string>#ee2f10</string>
	<key>kTaskAlipayButtonBgColor</key>
	<string>#e05348</string>
	<key>kTaskAlipayTextBgColor</key>
	<string>#ffffff</string>
	<key>kRedPacketTitleColor</key>
	<string>#86540c</string>
	<key>kRedPacketDesColor</key>
	<string>#ad772a</string>
</dict>
</plist>
